urxvt*.perl-lib: /usr/lib/urxvt/perl
urxvt*.perl-ext-common: default,matcher,clipboard
urxvt*.perl-matcher: 1
urxvt*.matcher-button: 3
urxvt*.url-launcher: /usr/bin/qutebrowser
!urxvt*.matcher.button: 1
!urxvt*.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

! letter spacing
urxvt*.letterSpace: -1

urxvt*.dynamicColors: on
urxvt*.urgentOnBell: true

! cursor
urxvt*.cursorBlink: true
urxvt*.cursorUnderline: 0

! scrollbar
urxvt*.scrollBar: true
urxvt*.scrollBar_right: true
urxvt*.scrollBar_floating: true
urxvt*.scrollstyle: plain
urxvt*.scrollColor: #efefef
urxvt*.troughColor: #ffffff
urxvt*.thickness: 1

! border
urxvt*.borderLess: false
urxvt*.internalBorder: 5
urxvt*.externalBorder: 0

! window fading
!urxvt*.fading: 1 
!urxvt*.fadeColor: #ffffff

! true transparency
urxvt*.depth: 32
urxvt*.background: [75]#f3f3f3

! native transparency
!urxvt*.transparent: true
!urxvt*.shading: 175

! font
urxvt*.font: xft:Inconsolata Nerd Font Mono:size=12:antialias=true
urxvt*.boldFont: xft:Inconsolata Nerd Font Mono:style=bold:size=12:antialias=true
urxvt*.italicFont: xft:Inconsolata Nerd Font Mono:style=italic:size=12:antialias=true
urxvt*.boldItalicFont: xft:Inconsolata Nerd Font Mono:style=bolditalic:size=12:antialias=true

*background: #002b36
*foreground: #657b83

!black
*color0:  #073642
*color8:  #002b36

!red
*color1:  #dc322f
*color9:  #cb4b16

!green
*color2:  #859900
*color10: #586e75

!yellow
*color3:  #b58900
*color11: #657b83

!blue
*color4:  #268bd2
*color12: #839496

!magenta
*color5:  #d33682
*color13: #6c71c4

!cyan
*color6:  #2aa198
*color14: #93a1a1

!white
*color7:  #eee8d5
*color15: #fdf6e3

